<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-4 col-md-6 text-center mt-4">

    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated zoomIn" data-wow-delay=".1s">
      </div>
    </div>

    <p class="text-muted">{{ site.description }}</p>

    <p class="text-muted"><a title="my code" href="http://github.com/yusufsefasezer" target="_blank">github</a> &bull; <a title="my resume" href="http://linkedin.com/in/yusufsefasezer" target="_blank">linkedin</a> &bull; <a title="my blog (turkish)" href="http://api.whatsapp.com/send?phone=+905386934533" target="_blank"><strong>HIRE ME</strong></a></p>

    <p class="text-muted"><a href="mailto:yusufsezer@mail.com" title="my email">yusufsezer@mail.com</a></p>

  </div>
</div>